.mainContainer {
    min-height: 100vh;
    width: 80%;
    margin: auto;
    background-color: #eae8e8;
}

.dispNavContainer {
    display:flex;
    justify-content: space-between;
}

.mainDisplay {
    background-color: #eae8e8;
}