.headerContainer {
    background-color: #f1f1f1;
    width: 100%;
    height: 80px;
    margin-bottom: 30px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 5px 5px #e0dddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerContainer h1 {
    font-weight: 900;
    font-size: 30px;
}

.fullName {
    font-weight: 900;
    font-size: 35px;
    margin-left: 120px;
    position: absolute;
    float: right;
}

.logoutContainer {
    margin-right: 50px;
}

.logoutContainer span{
    font-weight: 600;
    font-size: 15px;
}

.iconHeader {
    margin-left: 50px;
}
