.avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.selectedPage {
    font-weight: bold;
    font-size: 20px;
    color: #c57373;
}

.pagination {
    text-align: center;
    margin-bottom: 30px;
}

.stockPage {
    font-weight: 600;
    font-size: 20px;
}

.page {
    border: 1px #282c34 solid;
}

.userBlock {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}